@model List<Models.ViewModel.TourViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_layoutTour.cshtml";

}

<h2 style="color:#99cc99">@ViewBag.TDName</h2>
@foreach (var item in Model)
{
    <div>
        <hr />
        <h3><span class="glyphicon glyphicon-hand-right "></span><a href="@Url.Action("Index", "Tour", new { @id = @item.TourId })" > @item.TourName</a></h3>
        <div class="col-md-4">
            <img src="@item.TDAvartar" style="width: 200px;height: 150px">
        </div>
        <div  class="col-md-4">
            <ul>
                <li><strong>Ngày Khởi hành: @item.DepartureTime</strong></li>
                <li><strong>Thời gian: @item.TourTime</strong></li>
                <li><strong>Điểm Khởi hành: @item.StartingPoint</strong></li>
                <li><strong>Phương tiện: @item.Transport</strong></li>

            </ul>
        </div>
        
            <div class="col-md-4">
                <h2>@(item.Price.HasValue ? @item.Price.Value.ToString("N0") + "đ" : "Contact")</h2>
                <h3 class="b3"><a href="@Url.Action("Index", "Tour", new { @id = @item.TourId})" class="label label-success"><strong>SEE ALL...</strong></a></h3>
            </div>
     
        <div class="clearfix"> </div>
    </div>
}


